.spinbody {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.spinner {
  border: 16px solid rgba(0, 0, 0, 0.8); /* Light grey */
  border-top: 16px solid rgb(253, 80, 0); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 750px) {
  .spinner {
    left: 33%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
