body {
  background-color: black;
  font-size: 16px;
}
.globe {
  font-family: sans-serif;
  position: relative;
  z-index: 0;
  height: 80vh;
}
.header1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 4em;
  color: red;
  position: relative;
  z-index: 2;
}
.header2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 1em;
  color: red;
  z-index: 2;
  position: relative;
}
.footer {
  font-family: sans-serif;
  font-size: 5em;
  color: red;
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.details {
  background: gainsboro;
  opacity: 0.5;

  position: absolute;
  @media only screen and (min-device-width: 750px) {
    top: 5em;
    right: 1em;
    padding: 12;
    margin-top: 5em;
  }
}
.details p {
  font-family: sans-serif;
  font-size: 1em;
  margin: 1em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 750px) {
  body {
    font-size: 6px;
  }
  .header1 {
    font-size: 5em;
    color: red;
  }
  .header2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 4em;
    color: red;
    z-index: 2;
    position: relative;
  }
  .details {
    background: gainsboro;
    opacity: 1;
    z-index: 3;
    position: fixed;
    bottom: 15em;
    left: 0em;
    width: 100%;
    text-align: center;
  }

  .details p {
    font-family: sans-serif;
    font-size: 5em;
    margin: 1em;
  }
}
